My workflow Erik RAG 2.json
{
  "name": "My workflow Erik RAG 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gXy-CIYRU4wiF0Nd7jth1dqOF-a4keGz",
          "mode": "list",
          "cachedResultName": "AI For Business",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gXy-CIYRU4wiF0Nd7jth1dqOF-a4keGz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7e63150-8206-44f3-992f-9392bb0c3256",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ORdxDVfQU2DDxwLf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cef6ee76-de8d-46df-9a92-4713fe587ea8",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7f6bf27b-8ac0-4275-b680-7b582e5489df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "914ecfd8-674f-437c-9d0a-b01c79a4b8dd",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ORdxDVfQU2DDxwLf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "de671aaf-fce9-4c4f-a4a0-8ff7a9430148",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "287318e4-6d54-4325-be73-a7d59cfbad74",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "zLvBjrCJJnNk49lT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "32497fcf-a22d-4b99-bfb4-db965b29ca18",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "oaf6JvkaUO7Rzd1C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        208
      ],
      "id": "941a020e-5f46-4a3d-8cc6-faa7c419a6e6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        416
      ],
      "id": "a8947ad4-e032-4bd7-b41b-8ed290435fa1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Setiaone. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        400
      ],
      "id": "6e7ddcd0-ba23-4a1b-95cb-184062e2651f",
      "name": "When chat message received",
      "webhookId": "0184e896-f15f-4a11-9685-dd77ba583677"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten AI untuk bisnis Stripe Apparel. Tugasmu adalah membantu \npelanggan menjawab pertanyaan seputar produk seperti jersey custom, kaos sablon, \nbahan, harga, ukuran, dan proses pemesanan berdasarkan data yang tersedia di data vektor pada Tool “Supabase Vector Store.”\nJawablah hanya berdasarkan informasi yang tersedia pada Tool “Supabase Vector Store.”. Jika informasi tidak tersedia di Tool itu, jawablah “Mohon maaf, saya belum dapat\nmemberikan jawaban.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        384
      ],
      "id": "f893e237-bcfe-4349-a92a-681bf9b1fa59",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        608
      ],
      "id": "7bb2ee5b-92c2-48f8-96c8-7164af26ee31",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oaf6JvkaUO7Rzd1C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool ini untuk menjawab pertanyaan tentang Stripe Apparel",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        560,
        400
      ],
      "id": "97a61af3-d41b-42bb-a90a-fc283c155f0a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "zLvBjrCJJnNk49lT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        608
      ],
      "id": "4060357d-bfe9-4189-acd2-31a49c83e217",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "oaf6JvkaUO7Rzd1C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        608
      ],
      "id": "c317b6ce-8867-4bc3-b0c4-3b12c50ccfdb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cDx7Ry9CreIi4lNL",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f04ba6c-802a-47fd-af2c-dd411a8563de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b6bf4c065b66ed8a4e21af4eb6d13166b80a8a1aa43c61b18828d610a211144"
  },
  "id": "ZDfzr0XCygBOURyt",
  "tags": []
}